.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	min-height: 100vh;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.game.light {
	background: #f0f2f5;
	color: #333;
}

.game.dark {
	background: #333;
	color: #f0f2f5;
}

.title {
	font-size: 2rem;
	margin-top: 30px;
}

.game-board {
	padding: 16px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}

.game-board.dark {
	background-color: #444;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.game-info {
	margin: 16px;
	padding: 16px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
	text-align: center;
	transition: background-color 0.3s ease;
}

.game-info.dark {
	background-color: #444;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.restart-button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.restart-button:hover {
	background-color: #0056b3;
}

.game-info-ol {
	padding: 0;
	list-style: none;
	margin: 0;
}

.move-button {
	background-color: #f8f9fa;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 8px 16px;
	margin: 4px 0;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.move-button:hover {
	background-color: #e2e6ea;
	transform: translateY(-2px);
}

.move-button.dark {
	background-color: #333;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 8px 16px;
	margin: 4px 0;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	color: white;
}

.move-button.dark:hover {
	background-color: #e2e6ea;
	transform: translateY(-2px);
	color: black;
}

.theme-toggle {
	position: absolute;
	top: 16px;
	left: 16px;
	padding: 8px 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.theme-toggle:hover {
	background-color: #0056b3;
}
